.bg-gradient-hero {
   /* position: relative; */
    background: linear-gradient(
      135deg,
      var(--background) 0%,
      var(--accent) 40%,
      var(--primary) / 0.95 100%
    );
    overflow: hidden;
  }